@import '../stylesheets/_shadows';

.checklistItem {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 15px 0;
    transition: all 0.2s ease-in-out;
}

.checklistItem:hover {
  @extend %z-depth-3;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}


.dropdown {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 0 10px 0;
  width: 100%;
  padding: 15px 0 0 0;
  height: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.dropdownHide {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 0 10px 0;
  width: 100%;
  padding: 15px 0 0 0;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  overflow: hidden;

}

.checkedOff {
  opacity: 0.6;
  transition: all 0.5s ease-in-out;

}


.buttonTransition {
  transition: all 0.2s ease-in-out;

}

.buttonTransition:hover {
  @extend %z-depth-3;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.disabled-link {
  pointer-events: none;
}

.btnwidth {
  width: 150px;
}