.checklistItem {
  border: 1px solid lightgray;
  border-radius: 5px; }

.text-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 10px 0; }

.greyed-out-list {
  opacity: 30%; }

.checkedOff {
  color: black;
  background-color: black; }

ul.checkmark li {
  font-size: 16px;
  margin-bottom: 1em;
  list-style-type: none;
  padding: 1em 0em 1em 2.5em;
  position: relative; }

ul.checkmark li:before {
  content: " ";
  display: block;
  border: solid 0.8em green;
  border-radius: 0.8em;
  height: 0;
  width: 0;
  position: absolute;
  left: 0.5em;
  top: 40%;
  margin-top: -0.5em; }

ul.checkmark li:after {
  content: " ";
  display: block;
  width: 0.4em;
  height: 0.7em;
  border: solid #fff;
  border-width: 0 0.2em 0.2em 0;
  position: absolute;
  left: 1em;
  top: 40%;
  margin-top: -0.1em;
  margin-left: .1em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.backbtn {
  margin-right: 5em; }

.roundedTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
  .roundedTwo label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; }
    .roundedTwo label:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .roundedTwo label:hover::after {
      opacity: 0.3; }
  .roundedTwo input[type=checkbox] {
    visibility: hidden; }
    .roundedTwo input[type=checkbox]:checked + label:after {
      opacity: 1; }
