.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.checklistItem:hover, .buttonTransition:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.checklistItem {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 0 10px 0;
  width: 100%;
  padding: 15px 0;
  transition: all 0.2s ease-in-out; }

.checklistItem:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05); }

.dropdown {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 0 10px 0;
  width: 100%;
  padding: 15px 0 0 0;
  height: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out; }

.dropdownHide {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 0 10px 0;
  width: 100%;
  padding: 15px 0 0 0;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  overflow: hidden; }

.checkedOff {
  opacity: 0.6;
  transition: all 0.5s ease-in-out; }

.buttonTransition {
  transition: all 0.2s ease-in-out; }

.buttonTransition:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05); }
