@import "../../stylesheets/shadows";

$container-size: 250px;
$img-size: 170px;

.tile-container {
    height: $container-size;
    width: $container-size;
    color: black;
    opacity: 0.4;
    border-radius: 2%;

}

.tile-img img {
    width: $img-size;
    height: $img-size;
}

.focused {
    opacity: 1;
}

@media (max-width: 1024px) {
    .tile-container {
        margin-top: 20px;
    }
}
