@import "../../stylesheets/shadows";

$container-size: 250px;
$img-size: 170px;

.tile-container {
    height: $container-size;
    width: $container-size;
    color: black;
    opacity: 0.4;
    border-radius: 2%;
}

.tile-container:hover {
    @extend %z-depth-4;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.tile-img svg {
    font-size: 7em;
}

.focused {
    opacity: 1;
}

@media (max-width: 1024px) {
    .tile-container {
        margin-top: 20px;
    }
}
